.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  li {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: none;
    transition: all 0.3s;
    font-size: 15px;

    &:hover,
    &:active,
    &.active {
      background-color: lightgray;
      color: white;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-last-child(1),
    &:nth-last-child(2) {
      a {
        align-items: center;
        font-size: 15px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 12px;
    }
  }
}
